.App {
  position: relative;
}

.card_wrapper {
  left: 10%;
  right: 10%;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  z-index: 9;
  width: 80%;
  margin: 30px auto;
}

.card_wrapper h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
}

.card_simple_product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 30px;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalPrice span {
  margin-right: 15px;
}

.summary button {
  padding: 6px 12px;
  border: 2px solid #000;
  background-color: transparent;
  cursor: pointer;
  color: black;
  font-weight: 500;
  transition: 0.3s;
}

.summary button:hover {
  background-color: #fff;
  color: black;
}

@media screen and (max-width: 950px) {
  .card_simple_product {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 15px 0;
    border: 1px solid #818181;
    text-align: center;
  }
}
