.products_page {
  background-color: #f5f5f5;
}

.product_search_box {
  padding: 40px 0;
}

.product_search_box,
.filter_box {
  display: flex;
  justify-content: space-between;
}

.filter_item {
  margin-left: 20px;
}

.search_box input {
  padding: 6px 12px;
  background-color: transparent;
  border: 2px solid black;
  font-size: 16px;
}

.products_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 30px;
}

.products_wrapper a {
  text-decoration: none;
  color: black;
}
